*~
*.agdai
*.aux
*.log
*.out
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.toc
*.nav
*.snm
*.vrb
*.vtc
*.ptb
*.bbl
comment.cut
target/

*.hi
*.o
./dist
*#
TAGS
.stack-work/
*.cabal
*.agdai
*.vo
*.aux
*.glob
*.lock
*.dump-simpl
*.dump-cmm
*.dump-stg
